@media only screen and (max-width: 1080px) {


    .Nav-bar
    {
        display: none;   
        flex-direction: row;
        flex-wrap: nowrap;
        
        margin-inline-start: calc(60% - 1175px/2 - 0.5px);
    }
 .display-section{
    display: none;
 }

#shop-button{
    color:#F2F2F2;
    font-weight: 500;
    font-size: .6em;
    background-color: #1E1E1E;
    border: 2px solid #339999;
}
 #Transform-y-s
 {
     padding-block-start: 16%;
     color: #387E98;
     font-weight: 200;
     font-size: .7em;

 }
#THP{
    color:#333333;
    font-weight: 400;
    font-size: .9em;
    
}
.hero-section img{
    display: none;
}
.hero-section{
    display: flex;
    flex-direction: column;
    background-image: url("../../imgs/mobile-view/div.page-title.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    background-color: aqua;
    align-items:  center;
}











}